html
	head
		link(rel="stylesheet", href="sink.css")

	body

		.block
			h1 My First Heading
			p My first paragraph.

		.block-with-columns
			.column
				p stuff
			.column
				p stuff
			.column
				p stuff
			.column
				p stuff